We are a dedicated team to bring your accounting to you!

    <md-content>
        <h3><span class="glyphicon glyphicon-info-sign" style="color:#428cba"></span> Contact details</h3>
        <a href="https://twitter.com/Smawg" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @Smawg</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
        </script>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <a href="https://twitter.com/intent/tweet?screen_name=Smawg" class="twitter-mention-button" data-size="large">Tweet to @Smawg</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
        </script>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://smawg.se" data-text="Smawg #yolo -" data-size="large">Tweet</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
        </script>
<br />
        <strong>Questions?</strong> Please <a href="mailto:random@smawg.se"><span class="icon icon-envelope-alt"></span>&#32;drop us a line</a>
    </md-content>

