<!doctype html>
<html lang="en">
<head>
    <title>Smawg</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/bower_components/angular-material/angular-material.min.css" />
<!--    <link rel="stylesheet" type="text/css" href="/bower_components/angular-material/default-theme.css" />-->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Arvo" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=PT+Sans" />
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/smawg.css" />

    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="/bower_components/lodash/dist/lodash.min.js"></script>
    <script src="/bower_components/restangular/dist/restangular.min.js"></script>
    <script src="/bower_components/angular-aria/angular-aria.min.js"></script>
    <script src="/bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="/bower_components/hammerjs/hammer.min.js"></script>
    <script src="/bower_components/angular-material/angular-material.min.js"></script>
    <script src="/dist/smawg-frontend-0.0.1.min.js"></script>
</head>
<body ng-app="SmawgApp" ng-controller="SmawgNavCtrl" layout="column">
<!--
<header>
  <md-toolbar md-scroll-shrink layout="row">
    <md-button ng-click="toggleSidenav('left')" >Menu</md-button>
  <h1><span class="glyphicon glyphicon-asterisk" style="color:#5cb85c"></span> Smawg</h1>
  </md-toolbar>
</header>
-->
  <div layout="row" flex>
    <md-sidenav md-swipe-left="closeMenu()" class="md-sidenav-left md-whiteframe-z2" md-component-id="left">
      <md-toolbar>
        <h1 class="md-toolbar-tools">
          <a class="md-button" layout="row" ui-sref="home" ng-click="closeMenu()" flex>
            <div style="line-height:40px; text-indent: 15px;">Smawg</div>
          </a>
        </h1>
      </md-toolbar>
      <ul class="menu">
        <li ng-repeat="section in sections">
          <menu-link section="section" ng-if="section.type === 'link'"></menu-link>
        </li>
      </ul>
    </md-sidenav>
    <div layout="column" tabindex="-1" role="main" flex id="content">
      <md-toolbar class="md-theme-default">
        <div class="md-toolbar-tools" ng-click="openMenu()" tabIndex="0">
          <md-button aria-label="Toggle Menu">Menu</md-button>
        </div>
      </md-toolbar>
      <md-content layout="column" flex class="md-padding" ui-view>
      </md-content>
    </div>
  </div>
</body>
</html>
