    <md-tabs class="md-accent" md-selected="data.selectedIndex">
      <md-tab id="tab1" aria-controls="tab1-content" ui-sref="dash.overview">
        Overview
      </md-tab>
      <md-tab id="tab2" aria-controls="tab3-content" ui-sref="dash.graphs">
        Graphs
      </md-tab>
    </md-tabs>
<div ui-view></div>

<div class="container-narrow">
<form class="form-horizontal" ng-submit="add()">
    <fieldset>
        <legend>Add a voucher</legend>
        <div class="control-group">
            <label class="control-label" for="add-description">Description</label>

            <div class="controls">
                <input id="add-description" name="description" type="text" placeholder="A short description"
                       ng-model="newVoucher.description"/>
            </div>
        </div>
        <div class="control-group ">
            <label class="control-label" for="add-date">Date</label>

            <div class="controls">
                <input id="add-date" name="date" type="date" placeholder="2015-01-21" required
                       ng-model="newVoucher.date"/>
            </div>
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-success"><i class="icon-plus icon-white"></i> Add</button>
        </div>
    </fieldset>
</form>
</div>
