<div class="container-narrow">
  <md-content>        
    <h2>we <span class="glyphicon glyphicon-heart" style="color:#428bca;"></span> accounting!</h2>
    <p class="lead">And soon you do too.</p>
    <md-button href="#">Sign up today <span class="glyphicon glyphicon-ok-circle"></span></md-button>
    <br/><br/>
  </md-content>
    <div class="row marketing">
        <div class="col-md-4">
            <h3><span class="glyphicon glyphicon-ok-circle" style="color:#428bca;"></span> Easy</h3>
            <p>You're going to feel like it.</p>
        </div>
        <div class="col-md-4">
            <h3><span class="glyphicon glyphicon-ok-circle" style="color:#428bca;"></span> Looks</h3>
            <p>You want to show it off.</p>
        </div>
        <div class="col-md-4">
            <h3><span class="glyphicon glyphicon-ok-circle" style="color:#428bca;"></span> No bullshit</h3>
            <p>We will show you how your company is doing.</p>
        </div>
    </div>
    <div class="container" id="Contact">
        <h3><span class="glyphicon glyphicon-info-sign" style="color:#428cba"></span> Contact details</h3>
        <a href="https://twitter.com/Smawg" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @Smawg</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
        </script>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <a href="https://twitter.com/intent/tweet?screen_name=Smawg" class="twitter-mention-button" data-size="large">Tweet to @Smawg</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
        </script>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://smawg.se" data-text="Smawg #yolo -" data-size="large">Tweet</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
        </script>
        <strong>Questions?</strong> Please <a href="mailto:random@smawg.se"><span class="icon icon-envelope-alt"></span>&#32;drop us a line</a>
    </div>
</div>
